
body {
    margin: 50px 50px 50px 50px;
    padding: 0;
    background-color: beige;
}

.content {
    height: 1000px;
    padding-bottom: 100px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 10px 1px 10px;
    text-align: center;
}

nav {
    margin: 10px 50px 50px 50px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}

    nav a {
        color: black; 
        text-decoration: none; 
        margin: 0 20px; 
        transition: color 0.3s, text-decoration 0.3s, transform 0.3s; 
    }

        nav a:hover {
            color: blue;
            transform: scale(1.1);
            display: inline-block;
        }

#tabella {
    width: 100%;
    border-collapse: collapse;
    background-color: #AAA;
}

    #tabella th {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        color: white;
    }   

footer {
    bottom: 0;
    left: 0;  
    background-color: #CCC;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}





