
body {
    margin: 50px 50px 50px 50px;
    padding: 0;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.content {
    height: 1000px;
    padding-bottom: 100px;
}

header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 10px 1px 10px;
    text-align: center;
}
    header a {
        color: white;
        text-decoration: none;
        margin: 0 50px;
        transition: color 0.3s, text-decoration 0.3s, transform 0.3s;
    }
        header a:hover {
            color: beige;
            transform: scale(1.1);
            display: inline-block;
        }


nav {
    margin: 10px 0px 50px 0px;
    text-align: center;
    background-color: #333;
    font-family: "Dosis", sans-serif;
    padding: 10px;
}
    nav a {
        color: white; 
        text-decoration: none; 
        margin: 0 50px;
        transition: color 0.3s, text-decoration 0.3s, transform 0.3s; 
    }
        nav a:hover {
            color: beige;
            transform: scale(1.1);
            display: inline-block;
        }

#tabella {
    width: 100%;
    border-collapse: collapse;
    background-color: #AAA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
    #tabella th {
        border: 1px outset white;
        padding: 10px;
        text-align: center;
        color: white;
    }


form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    label {
        margin-bottom: 10px;
    }

    input {
        width: 50%;
        padding: 8px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 5px;
    }

    button {
        background-color: #333;
        border: none;
        color: white;
        padding: 10px 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 1px;
        cursor: pointer;
        border-radius: 10px;
    }
        button:hover {
            background-color: blue; 
        }


footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    left: 0;
    background-color: #CCC;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

    footer p {
        margin: 10px;
        display: inline-block;
    }